<template>
    <div class="grid grid-cols-1 lg:grid-rows-1 py-4 px-6 shadow-md bg-white hover:bg-gray-50 md:grid-cols-1 md:grid-rows-2 lg:grid-cols-3">
        <div class="flex-col inline-flex justify-between md:flex-row lg:justify-center text-left py-2 my-auto">
            <p class="inline-block align-middle inline-flex min-w-max">
                <span class="font-bold mr-2">Pedido a: </span>
                {{requisition.deliver_at}}
            </p>
            <p class="lg:ml-4 inline-block align-middle inline-flex min-w-max">
                <span class="font-bold mr-2">Termina a: </span>
                {{ requisition.expire_date }}
            </p>
        </div>
        <div class="flex-col inline-flex justify-between md:flex-row text-left py-2 my-auto md:min-w-max">
            <p class="lg:ml-7 truncate md:w-[520px] lg:w-64 w-auto">
                <span class="font-bold mr-1">Descrição: </span>
                    {{ requisition.description }}
            </p>

            <div class="inline-flex py-1 md:py-0 lg:ml-3">
                <span class="font-bold mr-2"> Estado: </span>
                <span v-if="requisition.devices.length < 2" class="border border-yellow-400 rounded-full bg-yellow-400 text-white font-semibold text-sm px-1 py-0.5">
        <!--                {{requisition.status === 0 ? "Pendente" : requisition.status === 1 ? "Processado" : requisition.status}}-->Pendente
                </span>
                <span v-else class="border border-emerald-400  rounded-full bg-emerald-400 text-white font-semibold text-sm px-1 py-0.5">
        <!--                {{requisition.status === 0 ? "Pendente" : requisition.status === 1 ? "Processado" : requisition.status}}-->Processada
                </span>
            </div>
        </div>

        <div class="flex inline-flex justify-between lg:justify-end lg:my-auto">
            <router-link
                :to="{name: 'RequisitionView', params: {id: requisition.id}}" title="Editar Requisição"
                class="flex py-2 px-4 mr-2 border border-transparent text-sm rounded-md text-white bg-[#239ec2]/80 hover:bg-[#239ec2] focus:ring-2 focus:ring-offset-2 focus:ring-[#239ec2]">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg>
                Edit
            </router-link>
            <div class="flex items-center">
                <button v-if="requisition.id" @click="emit('preview',requisition)" type="button" title="Imprimir" class=" mr-1 h-8 w-8 flex items-center justify-center rounded-full hover:bg-indigo-100 border border-transparent text-sm text-indigo-500 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2h-1.528A6 6 0 004 9.528V4z" />
                        <path fill-rule="evenodd" d="M8 10a4 4 0 00-3.446 6.032l-1.261 1.26a1 1 0 101.414 1.415l1.261-1.261A4 4 0 108 10zm-2 4a2 2 0 114 0 2 2 0 01-4 0z" clip-rule="evenodd" />
                    </svg>
                </button>
                <button v-if="requisition.id" type="button" @click="emit('delete',requisition)" title="Fechar Requisição" class="h-8 w-8 flex items-center justify-center rounded-full hover:bg-red-100 border border-transparent text-sm text-red-500 focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</template>

<script setup>

import {ref} from "vue";
import store from "@/store";

const {requisition} = defineProps({
    requisition:Object,
})
const emit = defineEmits(['delete','preview'])
const loading = ref(false)

function isDisabled() {
    return requisition.devices.length < 2;
}

</script>
