<template>
    <!-- Device index -->
    <div class="flex flex-row hover:bg-gray-100 rounded-xl">

        <h3 class=" items-center text-lg font-bold pr-2 mt-10">
            {{index +1}}.
        </h3>
        <div class=" grow grid grid-rows-1 grid-cols-12 gap-1">
            <!-- Device Type -->
            <div class="my-3 col-start-1 col-span-12 md:col-span-4 lg:col-span-2">
                <label for="device_type" class="block text-sm font-medium text-gray-700 ml-2">Tipo</label>
                <select id="device_type" name="device_type" v-model="model.type" @select="cleanItems" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option selected value=0>Select...</option>
                    <option v-bind:value="type.id" v-for="type in deviceTypes" :key="type" :value="type">
                        {{upperCaseFirst(type.text)}}
                    </option>
                </select>
            </div>
            <!--/ Device Type -->

            <!-- Device Item -->
            <div class="my-3 col-start-1 col-span-12 md:col-start-5 md:col-span-4 lg:col-start-3 lg:col-span-2">
                <label for="device_item" class="block text-sm font-medium text-gray-700 ml-2">Equipamento</label>
                <select id="device_item" name="device_item" v-model="model.item" @change="dataChange" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option selected value=0>Select...</option>
                    <option v-for="item in deviceItems[model.type]" :key="item.id" :value="item.id">
                        {{upperCaseFirst(item.text)}}
                    </option>
                </select>
            </div>
            <!--/ Device Item -->

            <!-- Device Brand -->
            <div v-if="model.acquired" class="my-3 col-start-1 col-span-12 md:col-start-9 md:col-span-4 lg:col-start-5 lg:col-span-2">
                <label for="device_brand" class="block text-sm font-medium text-gray-700 ml-2">Marca</label>
                <input type="text" name="device_brand" v-model="model.brand" @change="dataChange" id="device_brand" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <!--/ Device Brand -->

            <!-- Device Model -->
            <div v-if="model.acquired" class="lg:mt-3 col-start-1 col-span-12 md:col-span-4 lg:col-start-7 lg:col-span-2">
                <label for="device_model" class="block text-sm font-medium text-gray-700 ml-2">Modelo</label>
                <input type="text" name="device_model" v-model="model.model" @change="dataChange" id="device_model" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <!--/ Device Model -->

            <!-- Device Serial Number -->
            <div v-if="model.acquired" class="lg:mt-3 col-start-1 col-span-12 md:col-start-5 md:col-span-4 lg:col-start-9 lg:col-span-2">
                <label for="device_serial_number" class="block text-sm font-medium text-gray-700 ml-2 ">Nº Série</label>
                <input type="text" name="device_serial_number" v-model="model.serial_number" @change="dataChange" id="device_serial_number" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <!--/ Device Serial Number -->

            <!-- Device ARS Number -->
            <div v-if="model.acquired" class="lg:mt-3 mb-1 col-start-1 col-span-12 md:col-start-9 md:col-span-4 lg:col-start-11 lg:col-span-2">
                <label for="device_ars_number" class="block text-sm font-medium text-gray-700 ml-2">Nº ARS</label>
                <input type="text" name="device_ars_number" v-model="model.ars_number" @change="dataChange" id="device_ars_number" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <!--/ Device ARS Number -->
        </div>
        <div class="inline m-auto px-4 items-center mt-2">

            <!-- Status -->
            <div class="inline-flex mb-4">
                <label for="" class="block text-sm font-medium text-gray-700">Adquirido?</label>
                <div class="flex items-center">
                    <div class="flex items-center h-5 mx-1">
                        <input id="status" name="status" type="checkbox" @click="model.acquired = !model.acquired" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"/>
                    </div>
                </div>

            </div>
            <!--/ Status -->

            <!-- Delete Device -->
            <button type="button" @click="deleteDevice()" class="flex items-center text-xs py-1 px-3 rounded-sm text-red-50 border border-transparent bg-red-500 hover:bg-red-600">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-0.5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
                Remover
            </button>
            <!--/ Delete Device -->
        </div>
    </div>
    <!--/ Device index -->
<!--    <pre>
        {{model}}
    </pre>-->
    <!--/ Device -->
    <hr class="mt-1">
</template>

<script setup>
import {ref, computed,watch} from "vue";
import {v4 as uuidv4} from "uuid";
import store from "../../store";

const props = defineProps({
    device:Object,
    index:Number,
})

const emit = defineEmits(["change","deleteDevice"])

// Re-create the whole device data to avoid unintentional reference change
const model = ref(JSON.parse(JSON.stringify(props.device)))

const deviceTypes = computed(() => store.state.deviceTypes);
const deviceItems = computed(() => store.state.deviceItems);

function upperCaseFirst(str) {
    return str.charAt(0).toUpperCase() + str.slice(1);
}

function getOptions() {
    return model.value.data.options;
}

// Add option
function addOption() {
    setItems([
        ...getItems(),
        { uuid: uuidv4(), text: "" },
    ]);
    dataChange();
}

// Remove option
/*function removeOption(op) {
    setItems(getOptions().filter((opt) => opt !== op));
    dataChange();
}*/

function cleanItems() {
    model.item.value=""
}

function getItems() {
    return model.value.type === 'computador' ? ['portátil','fixo'] : ['monitor','teclado','rato','câmara','microfone','colunas'];
}

function setItems(items) {
    return store.state.deviceItems = items;
}

function dataChange() {
    const data = model.value;
    emit("change", data);
}

function deleteDevice() {
    emit('deleteDevice', model.value);
}
</script>
