<template>
    <PageComponent title="Admin Dashboard">
        <template v-slot:header>
            <h1>
                Administração
            </h1>
        </template>

    </PageComponent>
</template>

<script setup>
import PageComponent from "@/components/PageComponent.vue";
</script>