<template>
    <PageComponent title="Dashboard">
        <template v-slot:header>
            <div class="flex justify-between items-center pt-1">
                <h1 class="text-3xl font-bold text-gray-900">Página Inicial</h1>
            </div>
        </template>
        <div v-if="loading" class="flex justify-center">Loading...</div>
        <div v-else class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 text-gray-700">
            <div class="bg-white shadow-md p-3 text-center flex flex-col order-1 lg:order-2 animate-fade-in-down" style="animation-delay: 0.1s">
                <h3 class="text-2xl font-semibold text-[#002a46]">
                    Requisições
                </h3>
                <div class="text-8xl font-semibold flex-1 flex items-center justify-center">
                     {{data.total_requisitions}}
                </div>
            </div>
            <div class="bg-white shadow-md p-3 text-center flex flex-col order-2 lg:order-4 animate-fade-in-down" style="animation-delay: 0.2s">
                <h3 class="text-2xl font-semibold text-[#002a46]">
                    Equipamentos
                </h3>
                <div class="text-8xl font-semibold flex-1 flex items-center justify-center">
                    {{data.total_devices}}
                </div>
            </div>
            <div v-if="!store.state.dashboard.data.latest_requisition" class="bg-white shadow-md p-4 row-span-2 order-3 lg:order-1 animate-fade-in-down">
                <h3 class="text-2xl font-semibold text-[#002a46]">
                    Última Requisição
                </h3>
                <div class="-mt-8 grid min-h-full place-content-center md:h-40 sm:h-40">
                    <p class="font-semibold text-gray-400">
                        Nenhuma Requisição
                    </p>
                </div>

                <div class="flex justify-between absolute inset-x-0 bottom-0 mb-4 mx-4">
                    <button class="flex py-2 px-4 border border-transparent text-sm rounded-md bg-[#239ec2]/50 hover:bg-[#239ec2] text-white hover:text-white transition-colors cursor-not-allowed">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                            <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                        </svg>
                        Alterar
                    </button>
                    <button class="flex py-2 px-4 border border-transparent text-sm rounded-md bg-red-600/50 hover:bg-red-600 text-white hover:text-white transition-colors cursor-not-allowed">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                        </svg>
                        Fechar
                    </button>
                </div>

            </div>
            <div v-else class="bg-white shadow-md p-4 row-span-2 order-3 lg:order-1 animate-fade-in-down">
                <h3 class="text-2xl font-semibold text-[#002a46]">
                    Última Requisição
                </h3>
                <a href="#" class="underline text-[#239ec2]">
                    <h3 class="font-bold text-xl mb-3">
                        {{data.latest_requisition.code}}
                    </h3>
                </a>
                <div class="flex justify-between text-sm mb-1">
                    <div class="font-bold">Criada a:</div>
                    <div>{{data.latest_requisition.deliver_at}}</div>
                </div>
                <div class="flex justify-between text-sm mb-1">
                    <div class="font-bold">Termina a:</div>
                    <div class="text-[#002a46]">{{data.latest_requisition.expire_date}}</div>
                </div>
                <div class="flex justify-between text-sm mb-1">
                    <div class="font-bold">Estado:</div>
                    <div>
                        <b>
                            {{data.latest_requisition.status ? 'Processado' : 'Pendente'}}
                        </b>
                    </div>
                </div>
                <div v-if="data.latest_devices.length === 0">
                    None
                </div>
                <div v-else class="flex justify-between text-sm mb-1">
                    <div class="font-bold">Equipamentos:</div>
                    <div>
                        {{devicesVerbose}}
                    </div>
<!--
                    <a href="#" v-for="answer of data.latest_answers" :key="answer.id" class="block p-2 hover:bg-gray-100/90 rounded">
                        <div class="font-semibold">
                            &lt;!&ndash;                        {{answer.requisition.title}}&ndash;&gt;#62875faf60cd5
                        </div>
                        <small>
                            Answer Made At:
                            <i class="font-semibold ml-4">{{answer.end_date}}</i>
                        </small>
                    </a>-->
                </div>
                <div class="flex justify-between text-sm mb-1">
                    <div class="font-bold">Justificação:</div>
                    <div>{{data.latest_requisition.description}}</div>
                </div>
                <hr class="border-transparent mb-10">
                <div class="flex justify-between absolute inset-x-0 bottom-0 mb-4 mx-4">
                    <router-link :to="{name: 'RequisitionView', params: {id:data.latest_requisition.id}}" class="flex py-2 px-4 border border-transparent text-sm rounded-md text-[#239ec2] hover:bg-[#239ec2] hover:text-white transition-colors focus:ring-2 focus:ring-offset-2 focus:ring-[#239ec2]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                            <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                        </svg>
                        Alterar
                    </router-link>
                    <button class="flex py-2 px-4 border border-transparent text-sm rounded-md text-red-500 hover:bg-red-600 hover:text-white transition-colors focus:ring-2 focus:ring-offset-2 focus:ring-red-700">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                        </svg>
                        Fechar
                    </button>
                </div>
            </div>
            <div v-if="!data.latest_devices.length" class="bg-white shadow-md p-3 row-span-2 order-4 lg:order-3 animate-fade-in-down" style="animation-delay: 0.3s">
                <div class="flex justify-between items-center mb-3 px-1 gap-1.5">
                    <h3 class="text-2xl font-semibold text-[#002a46]">
                        Os meus equipamentos
                    </h3>
                </div>
                <div class="-mt-11 grid min-h-full place-content-center md:h-40 sm:h-40">
                    <p class="font-semibold text-gray-400">
                        Não tem Equipamentos
                    </p>
                </div>

            </div>
            <div v-else class="bg-white shadow-md p-3 row-span-2 order-4 lg:order-3 animate-fade-in-down" style="animation-delay: 0.3s">
                <div class="flex justify-between items-center mb-3 px-1 gap-1.5">
                    <h3 class="text-2xl font-semibold text-[#002a46]">
                        Os meus equipamentos
                    </h3>
                    <a href="javascript:void(0)" class="text-sm text-indigo-500 hover:decoration-indigo-500 mt-2">
                    Ver todos
                    </a>
                </div>

                <!--<a href="#" class="block p-2 hover:bg-gray-100/90 hover:text-[#002a46]/90 rounded">
                    <div class="font-semibold">
                        {{answer.requisition}}
                        Monitor Lenovo ThinkVision
                    </div>
                    <small>
                        Nº Requisição:
                        <i class="font-semibold ml-4 hover:text-[#239ec2]">{{answer.end_date}}
                            #628768dd92ee4
                        </i>
                    </small>
                </a>-->

                <a href="#" class="block p-2 hover:bg-gray-100/90 hover:text-[#002a46]/90 rounded">
                    <div class="font-semibold">
                        Computador Fixo + Acessórios @77371
                    </div>
                    <small>
                        Nº Requisição:
                        <i class="font-semibold ml-4 hover:text-[#239ec2]">
                            #62876893bcdf3
                        </i>
                    </small>
                </a>

                <a href="#" v-for="device of devicesNames" :key="device.id" class="block p-2 hover:bg-gray-100/90 rounded">
                    <div class="font-semibold">
                        {{device}}
                    </div>
                    <small>
                        Nº Requisição:
                        <i class="font-semibold ml-4 hover:text-[#239ec2]">#{{data.latest_requisition.code}}</i>
                    </small>
                </a>
            </div>

        </div>
    </PageComponent>
</template>

<script setup>
import PageComponent from "../components/PageComponent.vue"
import {useStore} from "vuex";
import {computed} from "vue";
const store = useStore();
store.dispatch("getDashboardData");

const loading = computed(() => store.state.dashboard.loading);
const data = computed(() => store.state.dashboard.data);
const devicesVerbose = computed(() => store.state.dashboard.devicesVerbose)
const devicesNames = computed(() => store.state.dashboard.devicesNames)

</script>
