<template>
    <PageComponent>
        <template v-slot:header>
            <div class="flex justify-between items-center">
                <h1 class="text-xl font-bold text-gray-900 pt-1 md:text-2xl lg:text-3xl">Equipamentos</h1>
                <router-link :to="{name: 'Dashboard'}" class="py-2 px-3 text-white bg-emerald-500 rounded-md hover:bg-emerald-600 truncate ml-2">
<!--                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 -mt-1 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                    </svg>-->
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 -mt-1 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4" />
                    </svg>
                    Substituir equipamento
                </router-link>
            </div>
        </template>
        <div v-if="devices.loading" class="flex justify-center">Loading...</div>
        <div v-else>

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-center text-gray-500 dark:text-gray-400">
                    <thead class="text-gray-50 uppercase bg-[#002a46]/75 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left">
                            Nome do Equipamento
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Estado
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Categoria
                        </th>
                        <th scope="col" class="px-6 py-3">
                            nº ars
                        </th>
                        <th scope="col" class="px-6 py-3">
                            nº série
                        </th>
                        <th scope="col" class="px-14 py-3 text-right">
                            Código
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap text-left">
                            HP Prodesk 400 G4 SFF
                        </th>
                        <td class="px-6 py-4">
                            <span class="border border-emerald-400 rounded-full bg-emerald-400 text-white font-semibold text-sm px-1 py-0.5">
                                Entregue
                            </span>
                        </td>
                        <td class="px-6 py-4">
                            Computador Fixo
                        </td>
                        <td class="px-6 py-4">
                            77371
                        </td>
                        <td class="px-6 py-4">
                            CZC7298RLX
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">#62876893bcdf3</a>
                        </td>
                    </tr>
                    <tr class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap text-left">
                            Lenovo ThinkVision T2224dA
                        </th>
                        <td class="px-6 py-4">
                            <span class="border border-emerald-400 rounded-full bg-emerald-400 text-white font-semibold text-sm px-1 py-0.5">
                                Entregue
                            </span>
                        </td>
                        <td class="px-6 py-4">
                            Monitor
                        </td>
                        <td class="px-6 py-4">
                            77371
                        </td>
                        <td class="px-6 py-4">
                            V5W82473
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">#62876893bcdf3</a>
                        </td>
                    </tr>
                    <tr class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap text-left">
                            HP tpc-c001k
                        </th>
                        <td class="px-6 py-4">
                            <span class="border border-emerald-400 rounded-full bg-emerald-400 text-white font-semibold text-sm px-1 py-0.5">
                                Entregue
                            </span>
                        </td>
                        <td class="px-6 py-4">
                            Teclado
                        </td>
                        <td class="px-6 py-4">
                            77371
                        </td>
                        <td class="px-6 py-4">
                            CZC7298RLX
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">#62876893bcdf3</a>
                        </td>
                    </tr>
                    <tr class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap text-left">
                            HP	MOFYUO
                        </th>
                        <td class="px-6 py-4">
                            <span class="border border-emerald-400 rounded-full bg-emerald-400 text-white font-semibold text-sm px-1 py-0.5">
                                Entregue
                            </span>
                        </td>
                        <td class="px-6 py-4">
                            Rato
                        </td>
                        <td class="px-6 py-4">
                            77371
                        </td>
                        <td class="px-6 py-4">
                            CZC7298RLX
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">#62876893bcdf3</a>
                        </td>
                    </tr>
                    <tr class="odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap text-left">
                            Lenovo	ThinkVision S22e-20
                        </th>
                        <td class="px-6 py-4">
                            <span class="border border-yellow-400 rounded-full bg-yellow-400 text-white font-semibold text-sm px-1 py-0.5">
                                Pendente
                            </span>
                        </td>
                        <td class="px-6 py-4">
                            Monitor
                        </td>
                        <td class="px-6 py-4">
                            85593
                        </td>
                        <td class="px-6 py-4">
                            V5DHK728
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">#628768dd92ee4</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </PageComponent>
</template>

<script setup>
import PageComponent from "../components/PageComponent.vue";
import {computed} from "vue";
import store from "../store";

const devices = computed(() => store.state.devices)

store.dispatch('getDevices');

function getForPage(ev , link) {
    ev.preventDefault()
    if (!link.url || link.active) {
        return;
    }
    store.dispatch("getDevices"/*, {url: link.url}*/)
}

</script>

<style scoped>

</style>