<template>
    <PageComponent>
        <template v-slot:header>
            <div class="flex justify-between items-center">
                <h1 class="text-md font-bold text-gray-900 pt-1 md:text-2xl lg:text-3xl">As Minhas Requisições</h1>
                <router-link :to="{name: 'RequisitionCreate'}" class="py-2 px-3 text-white bg-emerald-500 rounded-md hover:bg-emerald-600 truncate">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 -mt-1 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                    </svg>
                    Nova Requisição
                </router-link>
            </div>
        </template>
        <div v-if="requisitions.loading" class="flex justify-center">Loading...</div>
        <div v-else>
            <div class="grid grid-rows-1 gap-3 sm:grid-rows-1 md:grid-rows-1">
                <RequisitionListItem  v-for="(requisition, ind) in requisitions.data" :key="requisition.id" :requisition="requisition" class="opacity-0 animate-fade-in-down" :style="{animationDelay: `${ind * 0.1}s`}" @delete="deleteRequisition(requisition)" @preview="previewRequisition(requisition)"/>
            </div>

            <div class="flex justify-center mt-5">
                <nav class="relative z-0 inline-flex justify-center rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                    <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
                    <a v-for="(link,i) of requisitions.links" :key="i" :disabled="!link.url" v-html="link.label" href="#" @click="getForPage($event,link)" aria-current="page" class="relative inline-flex items-center px-4 py-2 border text-sm font-medium whitespace-nowrap"
                        :class="[link.active
                            ? 'z-10 bg-indigo-50 border-indigo-500 text-indigo-600'
                            : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50',
                            i === 0 ? 'rounded-l-md bg-gray-50 text-gray-700' : '',
                            i === requisitions.links.length - 1 ? 'rounded-r-md' : '',
                        ]">

                    </a>
                </nav>
            </div>

        </div>
    </PageComponent>
</template>

<script setup>
import store from '../store';
import { computed,ref } from "vue";
import PageComponent from "../components/PageComponent.vue";
import RequisitionListItem from "../components/RequisitionListItem.vue";

const requisitions = computed(() => store.state.requisitions)
const loading = ref(false)

store.dispatch('getRequisitions');

function deleteRequisition(requisition) {
    if (confirm(`Are you sure you want to delete this requisition? Operation can't be undone!!`)) {
        //delete requisition
        store.dispatch('deleteRequisition', requisition.id)
        .then(() => store.dispatch('getRequisitions'))
    }
}

function previewRequisition(requisition) {
    store.dispatch('previewRequisition', requisition.code)
        .then((res) => {

            //window.open(res)
        })
}

function getForPage(ev , link) {
    ev.preventDefault()
    if (!link.url || link.active) {
        return;
    }

    store.dispatch("getRequisitions", {url: link.url})
}

</script>
