<template>
    <PageComponent>
        <template v-slot:header>
            <div class="flex items-center justify-center justify-between">
                <h1 v-if="!requisitionLoading" class="px-4 text-xl font-bold text-gray-900 md:text-2xl lg:text-3xl">
                    {{ route.params.id ? '#'+model.code : "Pedido de Requisição de Equipamentos Informáticos"}}
                </h1>
                <button v-if="route.params.id" type="button" @click="deleteRequisition()" class="py-2 px-3 text-white bg-red-500 rounded-md hover:bg-red-600 truncate">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 -mt-1 inline-block" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                    </svg>
                    Fechar Requisição
                </button>
            </div>
        </template>
        <div v-if="requisitionLoading" class="flex justify-center">Loading..</div>
        <form v-else @submit.prevent="saveRequisition" class="animate-fade-in-down">
            <div class="shadow sm:rounded-md sm:overflow-hidden">
                <!-- Requisition Fields -->
                <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                    <h2 class="text-center text-md font-semibold text-gray-900 md:text-lg lg:text-xl">Termo de Responsabilidade</h2>
                    <p class="text-justify px-5 text-sm md:text-base">
                        Pelo presente Termo de Entrega e Responsabilidade, com a identificação acima mencionada, declara que recebeu o equipamento e acessórios acima especificados, de propriedade da ARS Algarve, IP,, assumindo o compromisso de manter a guarda pessoal sobre os mesmos, <b>ficando a seu cargo</b>:
                    </p>
                    <ul class="list-disc ml-12 md:ml-16 text-sm md:text-base">
                        <li>
                            Total responsabilidade por extravios ou danos bem como pela legalidade dos softwares nele instalado sem o consentimento da instituição;
                        </li>
                        <li>
                            Adequada utilização, de acordo com as recomendações;
                        </li>
                        <li>
                            Comunicar, imediatamente, qualquer incidente e ocorrência (incluídos ataques maliciosos/vírus) com o equipamento sob sua guarda e responsabilidade;
                        </li>
                        <li>
                            Devolução do referido equipamento logo que cessarem as minhas atividades.
                        </li>
                    </ul>
                    <!-- Dates -->
                    <div  class="grid grid-rows-2 md:grid-rows-1 md:grid-cols-2 md:justify-between lg:grid-cols-2 lg:justify-between">

                        <!-- Deliver Date -->
                        <div class="md:mr-32">
                            <label for="deliver_at" class="block text-sm font-medium text-gray-700">Data de Entrega</label>
                            <input type="date" name="deliver_at" id="deliver_at" v-model="model.deliver_at" required="" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <!--/ Expire Date -->

                        <!-- Expire Date -->
                        <div class="mt-2 md:ml-32 md:mt-0">
                            <label for="expire_date" class="block text-sm font-medium text-gray-700 md:text-right">Data de Recolha</label>
                            <input type="date" name="expire_date" id="expire_date" v-model="model.expire_date"  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <!--/ Expire Date -->
                    </div>
                    <!--/ Dates -->

                    <!-- Description -->
                    <div>
                        <label for="description" class="block text-sm font-medium text-gray-700">Justificação</label>
                        <div class="mt-1">
                            <textarea id="description" name="description" rows="3" v-model="model.description" required="" autocomplete="requisition_description" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" placeholder="Descreva a razão pela qual precisa de um novo equipamento."/>
                        </div>
                    </div>
                    <!--/ Description -->
                </div>

                <!--/ Requisition Fields -->
                <div class="px-4 py-5 bg-white space-y-1 sm:p-6">
                    <h3 class="text-lg md:text-2xl font-semibold flex items-center justify-between pb-3">
                        Equipamentos
                        <!-- Add new Device -->
                        <button type="button" @click="addDevice()" class="flex items-center text-sm py-1 px-4 rounded-sm text-white bg-gray-600 hover:bg-gray-700">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                            </svg>
                            Adicionar
                        </button>
                    </h3>
                    <div v-if="!model.devices.length" class="text-center text-gray-600">
                        Ainda não adicionou nenhum equipamento
                    </div>
                    <div v-else v-for="(device, index) in model.devices" :key="device.id">
                        <DeviceEditor :device="device" :index="index" @change="deviceChange"  @deleteDevice="deleteDevice"/>
                    </div>
                </div>

                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                   <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                       Requisitar
                   </button>
                </div>
            </div>
        </form>
    </PageComponent>
</template>

<script setup>
import {computed, ref, watch} from "vue";
import {useRoute, useRouter} from "vue-router";
import store from "../store";
import PageComponent from "../components/PageComponent.vue";
import DeviceEditor from "../components/editor/DeviceEditor.vue";

const router = useRouter();
const route = useRoute();

const requisitionLoading = computed(() => store.state.currentRequisition.loading)
const status = ref(false);


//Create empty requisition
const model = ref({
    description: null,
    deliver_at: null,
    expire_date: null,
    devices: [],
});

//Watch to current requisition data change and when this happens we update local model variable
watch(
    () => store.state.currentRequisition.data,
    (newVal) => {
        model.value = {
            ...JSON.parse(JSON.stringify(newVal)),
            status: newVal.status !== "draft",
        }
    },
)

if (route.params.id) {
    store.dispatch('getRequisition', route.params.id);
    //router.go()
}

function addDevice() {
    const newDevice = {
        id: model.value.devices.length + 1,
        type: '',
        item: '',
        brand: '',
        model: '',
        serial_number: '',
        ars_number: '',
        acquired: false,
    }
    model.value.devices.splice(model.value.devices.length+1,0, newDevice);
}

function deleteDevice(device) {
    model.value.devices = model.value.devices.filter(
        (d) => d.id !== device.id
    )
    deviceChange(device)
}

function deviceChange(device) {
    model.value.devices = model.value.devices.map((d) => {
        if (d.id === device.id) {
            return JSON.parse(JSON.stringify(device));
        }
        return d;
    });
}

function saveRequisition() {
    store.dispatch("saveRequisition",model.value).then(({data}) => {
        router.push({
            name:"RequisitionView",
            params:{id: data.data.id},
        })
        store.commit('notify', {
            type: 'success',
            message: 'Termo de Responsabilidade foi atualizada com sucesso!'
        })


    });
}

function deleteRequisition() {
    if (confirm(`Tem a certeza que pertende apagar esta requisição? Esta operação não pode ser revertida!`)) {
        store.dispatch("deleteRequisition", model.value.id).then(() => {
            router.push({name:'Requisitions'});
        });
    }
}

</script>
