<template>
    <PageComponent>
        <template v-slot:header>
            <div class="flex justify-between items-center">
                <h1 class="text-md font-bold text-gray-900 pt-1 md:text-2xl lg:text-3xl">Termos de Responsabilidades</h1>
                <router-link :to="{name: 'ResponsabilityCreate'}" class="py-2 px-3 text-white bg-emerald-500 rounded-md hover:bg-emerald-600 truncate">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 -mt-1 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                    </svg>
                    Adicionar
                </router-link>
            </div>
        </template>
        <div v-if="responsabilities.loading" class="flex justify-center">Loading...</div>
    </PageComponent>
</template>

<script setup>
import store from '../store';
import { computed,ref } from "vue";
import PageComponent from "../components/PageComponent.vue";

const responsabilities = computed(() => store.state.responsabilities)
const loading = ref(false)

store.dispatch('getResponsabilities')

function previewRequisition(requisition) {
    loading.value = true;
    store.dispatch('previewResponsability', requisition.code)
}

function getForPage(ev , link) {
    ev.preventDefault()
    if (!link.url || link.active) {
        return;
    }

    store.dispatch("getResponsabilities", /*{url: link.url}*/)
}

</script>
