<template xmlns="http://www.w3.org/1999/html">
    <PageComponent>
        <template v-slot:header>
            <div class="flex items-center justify-center justify-between">
                <h1 v-if="!responsibilityLoading" class="px-4 text-xl font-bold text-gray-900 md:text-2xl lg:text-3xl">
                    {{
                        route.params.id ? '#' + model.code : "Novo Termo de Responsabilidade para Equipamentos Externos"
                    }}
                </h1>
                <!--                <button v-if="route.params.id" type="button" @click="deleteRequisition()" class="py-2 px-3 text-white bg-red-500 rounded-md hover:bg-red-600 truncate">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 -mt-1 inline-block" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                                    </svg>
                                    Fechar Requisição
                                </button>-->
            </div>
        </template>
        <div v-if="responsibilityLoading" class="flex justify-center">Loading..</div>
        <form v-else @submit.prevent="saveResponsibility" class="animate-fade-in-down">
            <div class="shadow sm:rounded-md sm:overflow-hidden">

                <!-- Requisition Fields -->
                <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                    <h2 class="text-md font-semibold text-gray-900 md:text-lg lg:text-xl">Normas:</h2>
                    <ul class="list-decimal mx-12 text-justify md:mx-16 text-sm md:text-base">
                        <li>
                            O utilizador é inteiramente responsável pela segurança dos dados no(s) equipamento(s) que
                            sejam ligados por ele à rede;
                        </li>
                        <li>
                            O utilizador será responsável por quaisquer incidentes de segurança gerados ativamente ou
                            passivamente pelo equipamento por ele ligado à rede;
                        </li>
                        <li>
                            O utilizador deverá observar a política de segurança da informação da ARS Algarve,
                            utilizando a rede da ARS Algarve somente para o desempenho das funções previstas. A
                            utilização de programas de troca ou download de ficheiros do tipo P2P (Bit Torrent, E-mule e
                            semelhantes) é expressamente proibida;
                        </li>
                        <li>
                            Caso a utilização do equipamento resulte em transtorno para a estrutura da rede da ARS
                            Algarve, o utilizador será responsável pelo ocorrido e terá o equipamento removido da rede
                            da ARS Algarve, além de sofrer as sanções administrativas e legais que a ARS Algarve julgar
                            cabíveis;
                        </li>
                        <li>
                            O utilizador é responsável pelo licenciamento dos softwares utilizados no(s) seu(s)
                            equipamento(s), sendo vedada a instalação de softwares cujas licenças pertençam à ARS
                            Algarve, salvo em caso de exceções previamente autorizadas pelo Conselho Directivo;
                        </li>
                        <li>
                            A manutenção do equipamento e do software contido no mesmo é de total responsabilidade do
                            utilizador, não cabendo a ARS Algarve nenhuma responsabilidade referente ao suporte dos
                            mesmos;
                        </li>
                        <li>
                            A criação e manutenção de cópias de segurança(backups) dos ficheiros contidos no equipamento
                            são de inteira responsabilidade do utilziador;
                        </li>
                        <li>
                            A ARS Algarve, IP se reserva o direito de cancelar o acesso fornecido a qualquer momento sem
                            aviso prévio;
                        </li>
                        <li>
                            O utilizador deverá possuir software de antivírus instalado, ativo e atualizado no
                            equipamento a ser ligado na rede, além de manter todas as correções de segurança do sistema
                            operacional;
                        </li>
                    </ul>

                    <div class="hover:bg-gray-100 rounded-xl">

                        <h1>Equipamento</h1> Tipo[Portatil,Telemovel,Desktop,Outro], Marca, Modelo, Nº de Série, MAC
                        Address
                        <!-- Device Type -->
                        <div class="my-3 col-start-1 col-span-12 md:col-span-4 lg:col-span-2">
                            <label for="device_type" class="block text-sm font-medium text-gray-700 ml-2">Tipo</label>
                            <select id="device_type" name="device_type" v-model="model.type"
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <option selected value=0>Select...</option>
                                <option v-bind:value="type.id" v-for="type in types" :key="type" :value="type">
                                    {{ type.name }}
                                </option>
                            </select>
                        </div>
                        <!--/ Device Type -->

                        <!-- Device Brand -->
                        <div class="my-3 col-start-1 col-span-12 md:col-start-9 md:col-span-4 lg:col-start-5 lg:col-span-2">
                            <label for="device_brand" class="block text-sm font-medium text-gray-700 ml-2">Marca</label>
                            <input type="text" name="device_brand" v-model="model.brand" id="device_brand"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <!--/ Device Brand -->

                        <!-- Device Model -->
                        <div class="lg:mt-3 col-start-1 col-span-12 md:col-span-4 lg:col-start-7 lg:col-span-2">
                            <label for="device_model"
                                   class="block text-sm font-medium text-gray-700 ml-2">Modelo</label>
                            <input type="text" name="device_model" v-model="model.model" id="device_model"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <!--/ Device Model -->

                        <!-- Device Serial Number -->
                        <div class="lg:mt-3 col-start-1 col-span-12 md:col-start-5 md:col-span-4 lg:col-start-9 lg:col-span-2">
                            <label for="device_serial_number" class="block text-sm font-medium text-gray-700 ml-2 ">Nº
                                de Série:</label>
                            <input type="text" name="device_serial_number" v-model="model.serial"
                                   id="device_serial_number"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <!--/ Device Serial Number -->

                        <!-- Device MAC Address -->
                        <div class="lg:mt-3 col-start-1 col-span-12 md:col-start-5 md:col-span-4 lg:col-start-9 lg:col-span-2">
                            <label for="macAddress" class="block text-sm font-medium text-gray-700 ml-2 ">MAC
                                Address:</label>
                            <input autocomplete="false"
                                   type="tel"
                                   name="macAddress"
                                   v-model="model.macAddress"
                                   id="macAddress"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <!--/ Device MAC Address -->
                    </div>

                    <div><pre>{{ model }}</pre>
                        <!-- Person Bond -->
                        <div>
                            <label for="person_bond"
                                   class="block text-sm font-medium text-gray-700 ml-2">Vínculo:</label>
                            <select id="person_bond" name="person_bond" v-model="model.bond"
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <option selected :value="{id:0,name:'Select...'}">Select...</option>
                                <option v-bind:value="bond.name" v-for="bond in bonds" :key="bond.id" :value="bond.id">
                                    {{ bond.name }}
                                </option>
                            </select>
                        </div>
                        <!--/ Person Bond -->

                        <!-- Person Full Name -->
                        <div class="lg:mt-3 col-start-1 col-span-12 md:col-start-5 md:col-span-4 lg:col-start-9 lg:col-span-2">
                            <label for="person_fullname" class="block text-sm font-medium text-gray-700 ml-2 ">Nome
                                Completo:</label>
                            <input type="text" name="person_fullname" v-model="model.fname" id="person_fullname"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <!--/ Person Full Name -->

                        <!-- Person Num Mecan. -->
                        <div v-if="model.bond !== 'Outro'"
                             class="lg:mt-3 col-start-1 col-span-12 md:col-start-5 md:col-span-4 lg:col-start-9 lg:col-span-2">
                            <label for="person_num" class="block text-sm font-medium text-gray-700 ml-2 ">Número
                                Mecanográfico:</label>
                            <input type="text" name="person_num" v-model="model.num_mecanografico" id="person_num"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <!--/ Person Num Mecan. -->

                        <!-- Person CC -->
                        <div v-else
                             class="lg:mt-3 col-start-1 col-span-12 md:col-start-5 md:col-span-4 lg:col-start-9 lg:col-span-2">
                            <label for="person_cc" class="block text-sm font-medium text-gray-700 ml-2 ">CC:</label>
                            <input type="number" name="person_cc" v-model="model.cC" id="person_cc"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <!--/ Person CC -->

                        <!-- Person Email -->
                        <div class="lg:mt-3 col-start-1 col-span-12 md:col-start-5 md:col-span-4 lg:col-start-9 lg:col-span-2">
                            <label for="person_email"
                                   class="block text-sm font-medium text-gray-700 ml-2 ">Email:</label>
                            <input type="text" name="person_email" v-model="model.email" id="person_email"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <!--/ Person Email -->

                        <!-- Person Department -->
                        <div>
                            <label for="person_department" class="block text-sm font-medium text-gray-700 ml-2">Departamento:</label>
                            <select id="person_department" name="person_department"
                                    v-model="model.unit"
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <option selected :value="{id:0,name:'Select...'}">Select...</option>
                                <option v-bind:value="dep.id" v-for="dep in departments" :key="dep.id" :value="dep.id">
                                    {{ dep.name }}
                                </option>
                            </select>
                        </div>
                        <!--/ Person Department -->
                        <!-- Person Service -->
                        <div>
                            <label for="person_service" class="block text-sm font-medium text-gray-700 ml-2">Setor/Serviço:</label>
                            <select id="person_service" name="person_service" v-model="model.institution"
                                    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <option selected :value="{id:0,name:'Select...'}">Select...</option>
                                <option v-bind:value="service.id" v-for="service in services[model.unit]" :key="service"
                                        :value="service">
                                    {{ service.name }}
                                </option>
                            </select>
                        </div>
                        <!--/ Person Service -->
                        <!-- Person Phone -->
                        <div class="lg:mt-3 col-start-1 col-span-12 md:col-start-5 md:col-span-4 lg:col-start-9 lg:col-span-2">
                            <label for="person_phone"
                                   class="block text-sm font-medium text-gray-700 ml-2 ">Telemóvel:</label>
                            <input type="tel" name="person_phone" v-model="model.phone" id="person_phone"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <!--/ Person Phone -->
                    </div>

                    <div>
                        <!-- Person End Date -->
                        <div class="mt-2 md:ml-32 md:mt-0">
                            <label for="endDate" class="block text-sm font-medium text-gray-700 md:text-right">Data de
                                Término:</label>
                            <input type="date" name="endDate" id="endDate" v-model="model.endDate"
                                   class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <!--/ Person End Date -->
                    </div>


                    <!-- Description -->
                    <div>
                        <label for="justification" class="block text-sm font-medium text-gray-700">Justificação</label>
                        <div class="mt-1">
                            <textarea id="justification" name="justification" rows="3" v-model="model.justification"
                                      required="" autocomplete="responsibility_justification"
                                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                                      placeholder="Descreva a razão pela qual precisa de um novo equipamento."/>
                        </div>
                    </div>
                    <!--/ Description -->
                </div>
                <!--/ Requisition Fields -->
                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                    <button type="submit"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Requisitar
                    </button>
                </div>
            </div>
        </form>
    </PageComponent>
</template>

<script setup>
import store from '../store';
import {computed, ref} from "vue";
import PageComponent from "../components/PageComponent.vue";
import {useRoute, useRouter} from "vue-router";

store.dispatch('getWorkspaces')

const router = useRouter();
const route = useRoute();
const responsibilityLoading = computed(() => store.state.currentResponsibility.loading)
const departments = computed(() => store.state.departments);
const services = computed(() => store.state.services);


const types = [
    {id: 1, name: 'Computador Portátil'},
    {id: 2, name: 'Computador Fixo'},
    {id: 3, name: 'Telemóvel'},
    {id: 4, name: 'Outro'},
];

const bonds = [
    {id: 1, name: 'Funcionário'},
    {id: 2, name: 'Estagiário'},
    {id: 3, name: 'Outro'},
];

const model = ref({
    type: 0,
    other_type: "",
    brand: '',
    model: '',
    serial: '',
    macAddress: '',

    fname: '',
    email: '',
    cC: (0).toPrecision(8).split('.').reverse().join(''),
    num_mecanografico: '',
    phone: '',

    bond: '',
    other_bond:"",
    institution: 0,
    unit: 0,
    endDate: null,
    justification: "",
})

function saveResponsibility() {
    store.dispatch("saveResponsibilities", model.value).then(({data}) => {
        store.commit('notify', {
            type: 'success',
            message: 'Termo de Responsabilidade foi atualizado com sucesso!'
        })
        router.push({
            name: "ResponsibilityView",
            params: {id: data.id},
        })
    });
}

</script>
